/* Font giapponese per i titoli */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+JP:wght@400;700&display=swap');

/* Generale */
body {
    font-family: 'Noto Sans JP', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Stili per schermi grandi solo sezione foto */
@media (min-width: 1024px) {
     #foto {
        max-width: 70%; /* Imposta la larghezza massima della sezione */
        margin-left: auto; /* Centra la sezione orizzontalmente */
        margin-right: auto; /* Centra la sezione orizzontalmente */
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: #f9f9f9;
        display: block; /* Assicura che l'elemento sia un blocco */
        position: relative; /* Evita che le impostazioni di posizione influiscano sul centraggio */
    }
}

/* Stili per schermi piccoli solo sezione foto */
@media (max-width: 768px) {
     #foto {
        max-width: 85%; /* Imposta la larghezza massima della sezione */
        margin-left: auto; /* Centra la sezione orizzontalmente */
        margin-right: auto; /* Centra la sezione orizzontalmente */
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: #f9f9f9;
        display: block; /* Assicura che l'elemento sia un blocco */
        position: relative; /* Evita che le impostazioni di posizione influiscano sul centraggio */
    }
}

/* Stili per dispositivi mobili */
@media (max-width: 768px) {
    header {
        height: auto;
    }
    
    .header-content h1 {
        font-size: 2.5em;
    }

    .header-content nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header-content nav li {
        margin: 5px 0;
    }

    .header-image img {
        height: auto;
    }

    #itinerario, #destinazione, #note, #offer {
        margin: 10px;
        padding: 15px;
	}

    #itinerario h2, #destinazione h2, #note h2, #offer h2 {
        font-size: 2em;
    }

    #itinerario .giorno h3 {
        font-size: 1.5em;
    }

    #itinerario .giorno p {
        font-size: 1em;
    }

    /* Stili per la sezione Foto */
    #foto img {
        width: 100%;
        height: auto;
    }

    .sections-container {
    
    }
}


/* Intestazione */
header {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-content h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  margin-bottom: 20px;
}

.header-content nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-content nav li {
  margin: 0 10px;
}

.header-content nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  transition: color 0.3s;
}

.header-content nav a:hover {
  color: #ff6347;
}

.header-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.7);
}

/* Sezioni eccetto foto */
#itinerario, #destinazione, #note, #offer {
    background-color: #fffaf0;
    border-left: 5px solid #ff6347;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 70%; /* Imposta la larghezza massima della sezione */
    margin-left: auto; /* Centra la sezione orizzontalmente */
    margin-right: auto; /* Centra la sezione orizzontalmente */
}

/* Sezioni eccetto foto per schermi piccoli */
@media (max-width: 768px) {
	#itinerario, #destinazione, #note, #offer {
    background-color: #fffaf0;
    border-left: 5px solid #ff6347;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 85%; /* Imposta la larghezza massima della sezione */
    margin-left: auto; /* Centra la sezione orizzontalmente */
    margin-right: auto; /* Centra la sezione orizzontalmente */
	}
}

#itinerario h2, #destinazione h2, #note h2, #offer h2 {
    font-family: 'Kaushan Script', cursive;
    color: #b22222;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

#itinerario .giorno h3, #destinazione p, #note p, #offer p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
    text-align: justify;
}

#itinerario .giorno h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8em;
    color: #b22222;
    margin-bottom: 10px;
}

#destinazione p:first-letter, #note p:first-letter, #offer p:first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347;
}

#destinazione p strong, #note p strong, #offer p strong {
    color: #b22222;
}

/* Offerta */
#offer .include, #offer .exclude {
    background-color: #fffaf0;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0px;
    margin-bottom: 20px;
}

#offer .include h3, #offer .exclude h3 {
    font-family: 'Kaushan Script', cursive;
    color: #b22222;
    font-size: 1.8em;
    margin-bottom: 10px;
}

#offer .include p, #offer .exclude p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
}

#offer .include p:first-letter, #offer .exclude p:first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347;
}

#offer .include p strong, #offer .exclude p strong {
    color: #b22222;
}

.check {
    color: #008000; /* Verde */
    font-weight: bold;
    margin-right: 5px;
}

.exclude .check {
    color: #ff0000; /* Rosso */
}

/* Bottoni e Link */
a {
    color: #b22222;
    text-decoration: none;
}

/* Contenitore delle parole chiave */
.keyword-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunta di un'ombra per migliorare la visibilità */
}

/* Aggiungi un padding-top al body per evitare che il contenuto si sovrapponga alla barra */
body {
    padding-top: 60px; /* L'altezza della barra fissa */
}

.keywords {
    display: flex;
    gap: 20px;
}

.keywords span {
    font-size: 1.2em;
    color: #333;
}

/* Hamburger icon button - visible on all screens */
.hamburger-icon {
    display: block;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%; /* Posiziona il menu sotto l'icona dell'hamburger */
    right: 0;
    width: 200px; /* Larghezza del menu a tendina */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1100;
}

/* Stili delle voci del menu */
.dropdown-menu span {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}

.dropdown-menu span:last-child {
    border-bottom: none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .keywords {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
	.dropdown-menu {
        top: 50px; /* Posiziona il menu immediatamente sotto il tasto hamburger */
        right: auto;
        left: 10px; /* Allinea il menu con il tasto hamburger a sinistra */
    }
}

@media (min-width: 769px) {
    .dropdown-menu {
        display: none;
    }
	.hamburger-icon {
        display: block;
    }
	.dropdown-menu {
        top: 50px; /* Posiziona il menu immediatamente sotto il tasto hamburger */
        right: auto;
        left: 10px; /* Allinea il menu con il tasto hamburger a sinistra */
    }
}

/* Bottone "Parla con noi" */
.contact-button {
    background-color: #007bff; /* Colore di sfondo del pulsante */
    color: white; /* Colore del testo */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 50px;
    position: relative;
    right: 20px; /* Modificato da 10px a 20px per spostare il bottone verso sinistra */
    z-index: 1001;
}

/* Menu "Parla con noi" */
.contact-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%; /* Posiziona il menu sotto il pulsante */
    right: 10px; /* Posiziona il menu a destra del pulsante */
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1100;
    border-radius: 5px;
}

.contact-menu span {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.contact-menu span:last-child {
    border-bottom: none;
}

.contact-menu a {
    text-decoration: none;
    color: #007bff; /* Colore dei link */
}

.contact-menu a:hover {
    text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .hamburger-icon {
        left: 10px;
    }

    .contact-button {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .contact-menu {
        top: 50px;
        right: 10px;
    }
}

@media (min-width: 769px) {
    .contact-menu {
        top: 50px;
        right: 10px;
    }
}

a:hover {
    text-decoration: underline;
}

/* Stile della sezione di contatto Vuoi informazioni aggiuntive? */
#contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-family: 'Kaushan Script', cursive;
    color: #b22222;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

/* Stile per il form contact testo sopra ad invia */
#sending-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Sfondo grigio scuro trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10000;
    padding: 20px;
}

#sending-message p {
    color: #ffffff !important; /* Colore bianco, con !important per forzare il colore */
    font-size: 2em !important; /* Testo grande, con !important per forzare la dimensione */
    font-weight: bold !important; /* Forza il grassetto */
    margin: 0; /* Rimuovi eventuali margini ereditati */
    line-height: 1.5; /* Altezza della linea per migliore leggibilità */
}

#sending-message span {
    color: #ffcc00 !important; /* Colore countdown giallo per contrasto */
    font-weight: bold !important; /* Grassetto per il countdown */
}



/* Stile per il form contact */
#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Noto Sans JP', Arial, sans-serif;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Stile per pagina Chi siamo */
#about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.photo-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.photo-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    width: 100%;
    max-width: 800px; /* Limita la larghezza massima della mappa */
    margin: 0 auto 20px; /* Centra la mappa e aggiungi spazio inferiore */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra per evidenziare la mappa */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
}

.map-container iframe {
    width: 100%;
    height: 480px; /* Altezza della mappa */
    border: none; /* Rimuovi il bordo */
}


/* Stile per pacchetti viaggio */
#dettagli {
    padding: 20px;
    text-align: center;
}

.packages-container {
    display: flex;
    justify-content: space-around; /* Distribuisce uniformemente i pacchetti */
    flex-wrap: wrap; /* Permette di andare a capo su schermi più piccoli */
    margin-top: 20px;
}

.package {
    background-color: #f4f4f4; /* Colore di sfondo chiaro per ogni pacchetto */
    border-radius: 8px; /* Bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
    padding: 20px;
    width: 30%; /* Ogni pacchetto occupa il 30% della larghezza */
    min-width: 250px; /* Larghezza minima per schermi piccoli */
    text-align: center;
}

.package h3 {
    margin-bottom: 10px;
    color: #007bff; /* Colore del titolo */
}

.package p {
    margin: 10px 0;
}

.package button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.package button:hover {
    background-color: #0056b3; /* Colore del bottone al passaggio del mouse */
}
